/* Vars:
   ========================================================================== */

// Font
$mainFont                : 'Montserrat', sans-serif;

// Size
$mainFontColor           : #54565A;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.6;

$desktopWidth            : 1440px;
$smDesktopWidth          : 1280px;
$tableWidth              : 1024px;
$smTableWidth            : 768px;
$phoneWidth              : 640px;
$mdPhoneWidth            : 411px;
$smPhoneWidth            : 320px;

/*
 All colors taken from:
 https://github.com/vedees/uimini
*/

// Main color
$default-color           : #ffffff;
$green-color             : #00AC69;
